*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(15, 9, 33);
}

.body {
  font-family: sans-serif;
}

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
